<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 05 2014 06:41:42 GMT+0000 (UTC) -->
<html data-wf-site="52edd4c7672b98eb65000090">
  <head>
    <meta charset="utf-8">
    <title>Plantrain - Lifts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/master.css">
    <script>
      if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <script src="../js/jQuery.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" id="top"></div>
    <script type="text/javascript" src="../js/webflow.js"></script>
    <script type="text/javascript" src="../js/test.js"></script>
    <nav class="navbar navbar-default navbar-fixed-top" id="nav" role="navigation">
      <div class="container-fluid" id="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="btn-toolbar toolbar-override" role="toolbar">
          <div class="btn-group navbar-toggle group-override" id="backButton" onclick="history.back()"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="glyphicon glyphicon-hand-left"></span></td></tr></table></div>
          <!--
          <div class="btn-group navbar-toggle group-override" id="pageName"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="title">{{name}}</span></td></tr></table></div>
          <div class="btn-group navbar-toggle group-override" id="searchButton" onclick="toggle();"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="glyphicon glyphicon-search" id="searchSpan"></span></td></tr></table></div>-->
          <div class="btn-group navbar-toggle group-override" id="nonSearch"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="title">Add Lifts</span></td></tr></table></div>

          
          <div class="btn-group navbar-toggle group-override" id="menuButton" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="glyphicon glyphicon-align-justify"></span></td></tr></table></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse popup2" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropLink"><a href="../">Home</a></li>
            <li class="dropLink"><a href="../lifts">Lifts</a></li>
            <li class="dropLink"><a href="../liftlists">Workouts</a></li>
            <li class="dropLink"><a href="../store">Store</a></li>
            <li class="dropLink"><a href="../user_history">My History</a></li>
            <!--
            <li class="dropLink"><a href="placeholder.html">My History</a></li>
            <li class="dropLink"><a href="placeholder.html">Help</a></li>
          -->
            <li class="dropLink"><a href="../user_logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <div class="searchBarDiv" id="searchBarDiv">
          <div class="form-group">
            <div class="pull-right searchBar">
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                    <button class="btn btn-default button7" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="panel panel-default accHeight lockTop">
        <div class="panel-heading override">
          <a class="invis" href="../liftlists">
            <table class="override">
              <tr class="override">
                <td class="rowName override" id="rowLast">
                  <div class="override itemName">Done Adding Lifts</div>
                </td>
                <td class="deleteButton"></td>
              </tr>
            </table>
          </a>
        </div>
      </div>
    <div id="tableDiv2" name="Lift">
      
      <script type="text/javascript">
        var count = 0;
      </script>
      <div class="panel-group lockSecond" id="accordion">
      {{#each lifts}}
      <div class="panel panel-default accHeight">
        <div class="panel-heading override">
          <script>
            document.write("<table class=\"override\" data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#collapse" + count + "\">");
          </script>
          <!--<table class="override" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= count %>">-->
            <tr class="override">
              <script>
                document.write("<td class=\"rowName override\" id=\"row" + count + "\">");
              </script>
              <!--<td class="rowName override" id="row<%= count %>">-->
                <div class="override itemName">
                  {{name}}
                </div>
              </td>
              <td class="dropDown">                  
              </td>
            </tr>
          </table>
        </div>
      </div>
      <script>
        document.write("<div id=\"collapse" + count + "\" class=\"panel-collapse collapse\">");
      </script>
      <!--<div id="collapse<%= count %>" class="panel-collapse collapse">-->
        <div class="panel-body">
          <div class="expandedLift">
            <div class="statsContainer">
              <table class="liftStats">
                <tr class="storeRow">
                  <!--
                  <td class="buttonCell" onclick="deleteSet()">
                    <div class="title">
                      Main Muscle:
                    </div>
                  </td>
                  <td class="setInfo">
                    <div class="set">
                      {{mainMuscle}}
                    </div>
                  </td>
                </tr>
                <tr class="storeRow">
                  <td class="buttonCell" onclick="deleteSet()">
                    <div class="title">
                      Exercise Type:
                    </div>
                  </td>
                  <td class="setInfo">
                    <div class="set">
                      {{excerciseType}}
                    </div>
                  </td>
                -->
                </tr>
              </table>
            </div>
            <div class="buttonsContainer">
              <table class="liftButtons">
                <tr class="innerLiftButton" onclick="addToList()">
                  <td class="innerLiftButton doneButtonDiv">
                    <div class="innerLiftButton addButton" id="{{id}}">
                    </div>
                    <div class="buttonUnder">Add</div>
                  </td>
                </tr>
                <!--
                <tr class="innerLiftButton">
                  <td class="innerLiftButton">
                    <div class="innerLiftButton viewButton">
                    </div>
                  </td>
                </tr>
              -->
              </table>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        count += 1;
      </script>
      {{/each}}
      </div>
    </div>
  </body>
</html>