<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Feb 05 2014 06:41:42 GMT+0000 (UTC) -->
<html data-wf-site="52edd4c7672b98eb65000090">
  <head>
    <meta charset="utf-8">
    <title>View Workout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../css/master.css">
    <script>
      if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <script src="../../js/jQuery.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" id="top"></div>
    <script type="text/javascript" src="../../js/test.js"></script>
    <nav class="navbar navbar-default navbar-fixed-top" id="nav" role="navigation">
      <div class="container-fluid" id="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="btn-toolbar toolbar-override" role="toolbar">
          <div class="btn-group navbar-toggle group-override" id="backButton" onclick="history.back()"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="glyphicon glyphicon-hand-left"></span></td></tr></table></div>
          <div class="btn-group navbar-toggle group-override" id="nonSearch"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="title">{{name}}</span></td></tr></table></div>
          
          <div class="btn-group navbar-toggle group-override" id="menuButton" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><table class="nonexist"><tr class="nonexist"><td class="nonexist"><span class="glyphicon glyphicon-align-justify"></span></td></tr></table></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse popup2" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropLink"><a href="../../">Home</a></li>
            <li class="dropLink"><a href="../../lifts">Lifts</a></li>
            <li class="dropLink"><a href="../../liftlists">Workouts</a></li>
            <li class="dropLink"><a href="../../store">Store</a></li>
            <li class="dropLink"><a href="../../user_history">My History</a></li>
            <!--
            <li class="dropLink"><a href="placeholder.html">My History</a></li>
            <li class="dropLink"><a href="placeholder.html">Help</a></li>
          -->
            <li class="dropLink"><a href="../../user_logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="tableDiv" name="Lift" >
      <div class="Cont">
        <div id="picsDiv">
          <img src="{{pictureOne}}" class="liftPic"></img>
          <img src="{{pictureTwo}}" class="liftPic"></img>
        </div>
        <p class="liftInfo bold">How To Do It:</p>
        <p class="liftInfo x5">{{description}}</p>
        <p class="liftInfo bold">Exercise Type:</p>
        <p class="liftInfo x5">{{exerciseType}}</p>
        <p class="liftInfo bold">Main Muscle Worked:<p>
        <p class="liftInfo x5">{{mainMuscle}}</p>
        {{#if store}}
          <button id="{{name}}" type="button" class="button buttonH3" onclick="addLift2()">Add</button>
        {{else}}
        <div class="expandedLift" id="{{name}}">
          <div class="statsContainer">
            <div class="instr bold"><p>Record your lift stats here:</p></div>
            <table class="liftStats">
              <tr class="setRow set">
                <td class="buttonCell" onclick="deleteSet()">
                  <div class="setButton deleteButton">
                  </div>
                </td>
                <td class="setInfo">
                  <div class="set">
                    <input type="number" class="reps" name="quantity" min="1" max="999" placeholder="10"> Reps <input type="number" class="weight" name="diff" min="0" max="999" placeholder="100"> lbs.
                  </div>
                </td>
              </tr>
              <tr class="setRow add">
                <td class="buttonCell" onclick="addSet()">
                  <div class="setButton addButton">
                  </div>
                </td>
                <td class="setInfo">
                  <div class="set">
                    Add a Set
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="buttonsContainer">
            <table class="liftButtons">
              <tr class="innerLiftButton">
                <td class="innerLiftButton">
                  <div class="innerLiftButton invis" id="{{name}}">
                  </div>
                  <div class="buttonUnder"></div>
                </td>
              </tr>
              <tr class="innerLiftButton">
                <td class="innerLiftButton doneButtonDiv" id="{{id}}" onclick="addToHistory2()">
                  <div class="innerLiftButton doneButton">
                  </div>
                  <div class="buttonUnder">Done</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      {{/if}}
      </div>
    </div>
  </body>
</html>